<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DB97_42ConnectionString" connectionString="Data Source=DESKTOP-911ORN9\SQLEXPRESS;Initial Catalog=DB97_42;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DB97_42ConnectionString2" connectionString="Data Source=DESKTOP-911ORN9\SQLEXPRESS;Initial Catalog=DB97_42;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DB97_42ConnectionString3" connectionString="Data Source=DESKTOP-911ORN9\SQLEXPRESS;Initial Catalog=DB97_42;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DB97_42ConnectionString4" connectionString="Data Source=DESKTOP-911ORN9\SQLEXPRESS;Initial Catalog=DB97_42;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DB97_42ConnectionString5" connectionString="Data Source=DESKTOP-911ORN9\SQLEXPRESS;Initial Catalog=DB97_42;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DB97_42ConnectionString6" connectionString="Data Source=DESKTOP-911ORN9\SQLEXPRESS;Initial Catalog=DB97_42;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DB97_42ConnectionString7" connectionString="Data Source=DESKTOP-911ORN9\SQLEXPRESS;Initial Catalog=DB97_42;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RegistrationWebServiceasmxSoap">
          <security mode="Transport" />
        </binding>
        <binding name="RegistrationWebServiceasmxSoap1" />
        <binding name="CustomerRegistrationWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="CustomerRegistrationWebServiceSoap1" />
        <binding name="ManageWebServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ManageWebServiceSoap1" />
        <binding name="RoomAvailabilitySoap">
          <security mode="Transport" />
        </binding>
        <binding name="RoomAvailabilitySoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44322/RegistrationWebServiceasmx.asmx"
        binding="basicHttpBinding" bindingConfiguration="RegistrationWebServiceasmxSoap"
        contract="RegistrationServiceReference.RegistrationWebServiceasmxSoap"
        name="RegistrationWebServiceasmxSoap" />
      <endpoint address="https://localhost:44322/CustomerRegistrationWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CustomerRegistrationWebServiceSoap"
        contract="CustomerRegistrationServiceReference.CustomerRegistrationWebServiceSoap"
        name="CustomerRegistrationWebServiceSoap" />
      <endpoint address="https://localhost:44322/ManageWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="ManageWebServiceSoap"
        contract="ManageServiceReference.ManageWebServiceSoap" name="ManageWebServiceSoap" />
      <endpoint address="https://localhost:44322/RoomAvailability.asmx"
        binding="basicHttpBinding" bindingConfiguration="RoomAvailabilitySoap"
        contract="RoomAvailbilityServiceReference.RoomAvailabilitySoap"
        name="RoomAvailabilitySoap" />
    </client>
  </system.serviceModel>
</configuration>